.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  column-gap: auto;
  padding: 92px 50px 96px;
  text-underline-offset: 3px;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__link {
  text-decoration: underline;

}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header-link-list {
  display: flex;
  gap: 32px;
  word-spacing: 2px;
  font-size: 18px;
  list-style-type: circle;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  font-style: normal;
  font-size: 18px;
  font-weight: 400px;
  line-height: 24.3px;
}

.header__address { 
  justify-self: end;
  max-width: 236px;
  margin-right: 4px;
}

.cover {
  min-height: 757px;
  position: relative;
  z-index: 0;
  background-image: url('/images/cover.jpg');
  background-size: 1100px 757px;
  color: white;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

h1 {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  font-size: 100px;
  font-weight: 700px;
  padding: 165px 50px 104px;
  letter-spacing: 30px;
}

.aligned-text_left {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 19px;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
  margin-right: -30px;
}

.aligned-text_right {
  display: flex;
  justify-content: flex-end;
  margin-right: -30px;
}

.description {
  display: flex;
  flex-direction: row;
  padding: 0 50px 50px;
  position: relative;
  z-index: 2;
  gap: 104px;
  font-size: 22px;
  font-weight: 400px;
}

.slogan {
  text-transform: uppercase;
  word-spacing: 19px;
  justify-content: center;
  padding-top: 13px;
}

.bet-button {
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  background: transparent;
  color: white;
  padding: 0;
  margin: 0;
  border-color: white;
}

.lots {
  margin-top: 180px;

}

.big-title_lots {
  font-size: 40px;
  font-weight: 700px;
  text-transform: uppercase;
  padding-left: 64px;
}

.lots-cards {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-top: 27px;
  padding-left: 24px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lots-item {
  width: 334px;
  min-height: 596px;
  color: white;
  position: relative;
}

.cards {
  position: relative;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.cards-title {
  font-size: 22px;
  font-weight: 700px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 120%;
  letter-spacing: 0.2px;
}

.cards-description {
  font-size: 20px;
  font-weight: 400px;
}

.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
}

.veiw-more {
  padding-left: 64px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 334px auto;
  padding: 0 24px;
}

.logo-background {
  background-color: black;
  border-radius: 100%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-white {
  width: 142px;
  height: 112px;
}

.logo-column {
  justify-items: center;
  padding-top: 35px;
}

.about-column {
  padding: 134px 6px 0 25px;
}

.big-title_about {
  font-size: 40px;
  font-weight: 700px;
  text-transform: uppercase;
  padding-bottom: 101px;
}

.about-description {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400px;
  line-height: 24px;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 51px;
  margin-top: 177px;
  margin-bottom: 80px;
  text-underline-offset: 3px;
  column-gap: auto;
}

.footer_address {
  justify-self: start;
  max-width: 210px;
  line-height: 24;
}

.footer-link-list {
  list-style: none;
  justify-items: center;
  font-size: 18px;
  font-weight: 400px;
}

.social-media {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.socials-items {
  width: 48px;
  height: 48px;
}